{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django dantist</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        
        <div class="block_header">
            <img src="{% static 'img/logo.jpg' %}" alt="" class="logo">
            <ul>
                <li>ГЛАВНАЯ</li>
                <li>УСЛУГИ</li>
                <li>КОНТАКТЫ</li>
                <li>+7800 333 22 33</li>
            </ul>
        </div>
    </header>
    <div>
        <div class="main_block">
            <img src="{% static 'img/doctor_vrach.jpg' %}" alt="" class="doctor_vrach">
            <h1>Более 10 лет</h1>
            <h2>опыта в лечении зубов</h2>
            <p>Ежедневно команда профессионалов доказывает, что стоматологическая помощь должна быть надежной, доступной и быстрой. 
                Мы помогаем людям забыть о проблемах со здоровьем и в полной мере оценить вкус жизни. Экономия времени и четкая 
                организация процесса  - основополагающие принципы нашей работы.
                В современном мире лечение зубов и особенно лечение каналов зубов под микроскопом является стандартом.
                Сегодня уже невозможно представить высококачественные стоматологические услуги без применения операционного микроскопа. 
                Однако, такое лечение зубов в России, в частности в нашем городе, пока еще не распространено. Лечение под микроскопом -
                совершенно новый уровень стоматологического мастерства. Мы можем проводить поистине виртуозное лечение: спасаем самые сложные зубы,
                качественно лечим кариес и пломбируем каналы. Вам неудачно полечили зуб, в нем снова началось воспаление? Внутри канала обломился инструмент 
                и его не получается извлечь? Ваш стоматолог сказал, что зуб нельзя сохранить, и порекомендовал удаление? Зуб будет спасен!
            </p>
        </div>
    </div>
    <footer></footer>
</body>

</html>